@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    p, h1, h2, h3, h4, input, label, li, th, td, a, code, strong, li::marker, li::before, figcaption {
        color: white !important;
    }
    .hover\:text-white:hover {
        color: white !important;
    }
    .hover\:text-black:hover {
        color: black !important;
    }
}